venv/
__pycache__/
*.pyc
.DS_Store
db.sqlite3
staticfiles/

*.backup

*.sqlite3.before-*
*.lnk

*.backup_*

/union_health_v2/union_health_v2/

/broadcast_temp/
/union_health_v2/broadcast_temp/

/union_health_v2/checkapp/
/union_health_v2/health/
/union_health_v2/manage.py
/union_health_v2/protected_pdfs/
/union_health_v2/requirements.txt
